@charset "UTF-8";
/* layout */
@font-face {
  font-family: "Appe";
  src: url("/fonts/appetite.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Musecyr";
  src: url("/fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Musecyr-bold";
  src: url("/fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  line-height: 1.42;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.wrapper {
  background-image: url("/img/girl.png"), url("/img/bg.png");
  background-position: right 85%, center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  overflow-x: hidden;
}
@media screen and (max-width: 480px) {
  .wrapper {
    background-image: url("/img/bg.png"), url("/img/girl.png");
    background-position: center, right 85%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    background-image: url("/img/bg.png"), url("/img/girl.png");
    background-position: center, right 85%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
  }
}

.container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  font-size: "Muse";
  font-family: "Musecyr";
  z-index: 30;
}

/* blocks */
.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.375rem;
  display: none;
}

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875;
}
.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute;
}
.hamburger-menu-link__bars:before {
  top: 0;
}
.hamburger-menu-link__bars:after {
  bottom: 0;
}

.mobile {
  background: #fae8de;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.mobile__close {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.mobile__close-pic {
  width: 25%;
}

.mobile__close-link {
  margin-right: 1rem;
}

.mobile__menu {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.mobile__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  text-align: center;
}
.mobile__item:after {
  content: "";
  display: flex;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mobile__item:last-child:after {
  display: none;
}

.mobile__item-link {
  font-family: "Musecyr";
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .mobile__item-link {
    font-size: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .mobile__item-link {
    font-size: 1rem;
  }
}

/* pages */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 1rem 0;
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .header__logo img {
    height: auto;
    width: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .header__logo img {
    height: auto;
    width: 10rem;
  }
}

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.375rem;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger-menu-link {
    display: block;
  }
}

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #000;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875;
}

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute;
}

.hamburger-menu-link__bars:before {
  top: 8px;
}

.hamburger-menu-link__bars:after {
  bottom: 1px;
}

.header__title {
  width: 9rem;
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .header__title {
    width: 20rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .header__title {
    text-align: center;
  }
}

.header__address {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header__address {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .header__address {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}

.map-marker {
  position: absolute;
  left: 18%;
  top: 28%;
}
@media screen and (max-width: 768px) {
  .map-marker {
    left: 50%;
    top: 20%;
  }
}
@media screen and (max-width: 480px) {
  .map-marker {
    left: 50%;
    top: 20%;
  }
}

.scheme-title {
  font-weight: 700;
}

.scheme-map {
  padding-top: 1rem;
  position: relative;
}

.map-link {
  color: #ff6078;
  text-transform: uppercase;
  border-bottom: 1px dashed #ff6078;
}

.map-see {
  display: none;
  position: absolute;
  left: -50%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.map-link:hover .map-see {
  display: block;
  z-index: 100;
}

.timetable-phone, .timetable-shedule {
  display: flex;
  align-items: center;
}

.icon-timetable {
  position: relative;
  margin-right: 1rem;
  background-color: #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.icon-timetable img {
  position: relative;
  top: 25%;
  left: 25%;
}

.call-title {
  font-size: 0.75rem;
}
.call-title:before {
  color: #27b24b;
  content: "•";
  font-size: 26px;
  font-weight: 700;
  vertical-align: middle;
  padding-right: 8px;
}

.call-click {
  font-size: 1.5rem;
}

.shedule-time span {
  font-weight: 700;
}

.header__btn-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  padding: 1rem;
  border-radius: 55px;
  background-color: #fff;
  font-family: "Musecyr";
  font-weight: 500;
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .header__btn-link {
    margin: 1.5rem 0;
  }
}
@media screen and (max-width: 480px) {
  .header__btn-link {
    margin: 1.5rem 0;
  }
}
.header__btn-link img {
  padding-right: 0.5rem;
}
.header__btn-link p {
  font-size: 0.9rem;
}

.nav {
  padding: 1.5rem;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.menu__link:hover {
  border-bottom: 1px solid transparent;
  font-weight: 700;
}

.content {
  width: 35vw;
  margin: 5rem 0 0 4rem;
}
@media screen and (max-width: 768px) {
  .content {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  .content {
    width: 100%;
    margin: 0;
  }
}

.content__title {
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .content__title {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .content__title {
    font-size: 1.8rem;
    text-align: center;
  }
}
.content__title span {
  font-weight: 700;
}

.content__desc {
  display: flex;
  position: relative;
  margin: 3.75rem 0;
}

.desc-item {
  font-size: 18px;
  padding-top: 1rem;
}
.desc-item:before {
  color: #ef9499;
  content: "•";
  font-size: 26px;
  font-weight: 700;
  vertical-align: middle;
  padding-right: 8px;
}
@media screen and (max-width: 480px) {
  .desc-item {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .content__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .content__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.btn-order {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 1.5rem;
  background-color: #ff6078;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 55px;
  cursor: pointer;
}
.btn-order img {
  position: absolute;
  right: -30%;
}
@media screen and (max-width: 480px) {
  .btn-order img {
    display: none;
  }
}
.btn-order p {
  width: 15rem;
}
@media screen and (max-width: 480px) {
  .btn-order {
    text-align: center;
  }
}

.btn-book {
  width: 24rem;
}
@media screen and (max-width: 480px) {
  .btn-book {
    width: 15rem;
  }
}

.content__hint {
  background-image: url("/img/card-client.png");
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  width: 55%;
  height: auto;
  left: 23%;
  align-items: baseline;
}
@media screen and (max-width: 480px) {
  .content__hint {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .content__hint {
    left: 0%;
  }
}

.hint-attention {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 12%;
  left: 45%;
}

.hint-text {
  background-color: #fff;
  display: none;
  text-align: center;
  padding: 1rem;
  border-radius: 10%;
}

.hint-pic {
  position: relative;
  cursor: pointer;
}
.hint-pic img {
  margin-left: 2rem;
}

.hint-pic:hover .hint-text {
  display: block;
}

#popup_vk {
  position: absolute;
  top: 50%;
  z-index: 9999;
  opacity: 1;
  display: flex;
  width: 50vw;
  text-align: center;
  left: 10%;
}
@media screen and (max-width: 768px) {
  #popup_vk {
    width: 80vw;
  }
}

.popup_vk {
  position: relative;
  border-radius: 55px;
  background-color: #fcf1ec;
  width: 100%;
  padding: 3rem;
  margin: 3rem;
}
@media screen and (max-width: 480px) {
  .popup_vk {
    padding: 1rem;
    margin: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.close_block {
  text-align: right;
}
@media screen and (max-width: 480px) {
  .close_block {
    margin-right: 2rem;
  }
}

.form_title {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.form_subtitle {
  padding: 0 2rem;
}

.form_field {
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 1rem;
  margin: 1rem;
  z-index: 20;
}

.btn-form {
  position: relative;
  margin: 1rem;
  z-index: 20;
}
.btn-form img {
  position: absolute;
  right: -2%;
  top: 0;
  width: 13vh;
}

.form-img {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: -10%;
  height: auto;
  width: 13vw;
}
@media screen and (max-width: 768px) {
  .form-img {
    width: 22vw;
  }
}
@media screen and (max-width: 768px) {
  .form-img {
    display: none;
  }
}

.content_bottom {
  position: relative;
  background-image: url("/img/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 8rem;
}

.arrow_block {
  position: absolute;
  cursor: pointer;
  left: 48.7%;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}
@media screen and (max-width: 768px) {
  .arrow_block {
    margin-top: 1rem;
    left: 47.7%;
  }
}
@media screen and (max-width: 480px) {
  .arrow_block {
    margin-top: 1rem;
    left: 45.7%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.parallax {
  position: absolute;
  top: 30%;
  background-image: url("/img/parallax2.png"), url("/img/parallax.png");
  background-position: 0 center, right 0;
  background-repeat: no-repeat;
  background-size: auto, 15%;
  width: 100%;
  height: 80%;
  transition: all 0.1s ease;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .parallax {
    height: 45%;
    top: 85%;
    background-size: 45%, 15%;
  }
}
@media screen and (max-width: 480px) {
  .parallax {
    height: 45%;
    top: 85%;
    background-size: 45%, 15%;
  }
}