

.hamburger-menu-link {
	vertical-align: middle;
	position: relative;
	height: 1.375rem;
	align-items: center;
	margin-left: 1.375rem;
    display: none;


}

.hamburger-menu-link__bars {
	&, &:before, &:after {
		background: #fff;
		width: 1.5rem;
		height: 0.3125rem;
		border-radius: 0.1875;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}